<!--The content below is only a placeholder and can be replaced.-->
<div ng-if="user">
  <div>
    accountID : {{accountId}}
  </div>
  <div ng-if="emailAddress">
    email : {{emailAddress}}
  </div>
  <div ng-if="avatarUrls">
    avatar : <img src="{{avatarUrls}}">
  </div>
</div>
<ul>
  <li>
    <a href="/">
      home
    </a>
  </li>
  <li>
    <a href="/project">
      projects
    </a>
  </li>
  <li>
    <a href="/timesheet">
      timesheet
    </a>
  </li>
</ul>
<router-outlet></router-outlet>
